@{
    ViewBag.Title = "Manter Classificação";
}

<h2>Manter Classificacao</h2>

<section class="formulario">
    <form action="/" method="post">
    <fieldset>
        <legend></legend>
        <ul>
            <li>
                <label>Nome da Classificação : </label></li>
            <li>
                <input type="text" id="txtNomeClassificacao" value="" /></li>
            <li>
                <label> Comentário :</label></li>
            <li>
                <input type="text" id="txtComentario" value="" /></li>
            <li>
                <label>Cor :</label></li>
            <li>
                <input type="text" id="txtCor" value="" /></li>
        </ul>
        <section class="botoes">
            <input type="button" id="btnSalvar" value="" />
            
        </section>
    </fieldset>
    </form>
</section>
