@{
    ViewBag.Title = "Home Page";
    ViewBag.TitlePagina = "Página Inicial";
    ViewBag.Message = "Estrutura do site";
}

<section class="sumario">
    <dl class="diretia principal">
        <dt><strong>Livros</strong></dt>
        <dd>
            <p>Menu onde cadastra os livros da livraria.</p>
        </dd>
        <dt><strong>Clientes</strong></dt>
        <dd>
            <p>Menu que cadastra os clientes do sistema.</p>
        </dd>
        <dt><strong>Livros Alocados</strong></dt>
        <dd>
            <p>Menu onde pode consultar e associar livros à clientes.</p>
        </dd>
        <dt><strong>Editora</strong></dt>
        <dd>
            <p>Menu onde efetua o cadastro das editoras que serão achadas no sistema.</p>
        </dd>
    </dl>
    <dl class="esquerda principal">
        <dt><strong>Autor</strong></dt>
        <dd>
            <p>Menu onde é possível manter autores do sistema.</p></dd>
        <dt><strong>Avaliação</strong></dt>
        <dd>
            <p>Menu onde pode manter as avaliações do sistema.</p></dd>
        <dt><strong>Categoria</strong></dt>
        <dd>
            <p>Menu onde efetua a definição das categorias dos livros.</p></dd>
        <dt><strong>Classificação</strong></dt>
        <dd>
            <p>Menu onde efetua o cadastro das classificações dos livros.</p></dd>
    </dl>
</section>
<section class="clear hidden">
    <details>
        <legend></legend>
        <summary>
            <label>Sumário da ...</label>
        </summary>
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
    </details>
</section>